{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "files": ["combine.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "rules": {
    "no-console": 1,
    "no-explicit-any": 0
  }
}
